{{yield}}
<div class="container">
  {{#if addNewDev}}
  <h1>New Developer Sign-up</h1>
  {{#bs-form}}
    {{#bs-form-group}}
      {{bs-input value=email placeholder="email"}}
    {{/bs-form-group}}
    {{#bs-form-group}}
      {{bs-input value=password placeholder="password"}}
    {{/bs-form-group}}
    {{#bs-button class="btn-primary" action='save'}}Save{{/bs-button}}
  {{/bs-form}}
  {{else}}
    {{#bs-button class="btn-primary" action='devFormShow'}}Developer Sign-up{{/bs-button}}
  {{/if}}
</div>
