{{yield}}
<div class="container">
  <h1>Verify your name:</h1>
  {{#bs-form}}
    {{#bs-form-group}}
      {{bs-input value=name placeholder="Name"}}
    {{/bs-form-group}}
    <button class=" btn btn-primary" {{action 'completeProfile' developer}}>Verify</button>
  {{/bs-form}}
</div>
