/****************
JUMBOTRONS ON INDEX
*****************/

.navbar {
  font-family: 'PT Sans', sans-serif;
}

#mainJumbo {
  background-image: url('/images/jumbo.jpeg');
  height: 800px;
  background-size: cover;
  opacity: 0.8;
  font-family: 'PT Sans', sans-serif;
}

#secondJumbo {
  height: 700px;
  background-color: #404547;
  font-family: 'PT Sans', sans-serif;
}

#thirdJumbo {
  height: 400px;
  background-color: lightblue;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  text-shadow: white 0.1em 0.1em 0.1em;
  padding-top: 10%;
}

/****************
INDEX STYLING
****************/

.index {
  text-align: center;
  padding: 20% 10%;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.welcome {
  text-align: center;
  font-size: 250%;
  padding-top: 65px;
  padding-bottom: 65px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.block1 {
  max-width: 25%;
  float: left;
  min-width: 25%;
  margin: 10px 50px 50px 0px;
  height: 250px;
  box-shadow: 10px 10px 5px #888888;
  background-color: #D0DBDB;
}

.block2 {
  min-width: 25%;
  max-width: 25%;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 10px 50px 50px 10px;
  height: 250px;
  box-shadow: 10px 10px 5px #888888;
  color: #4B7A7A;
}

.block3 {
  min-width: 25%;
  max-width: 25%;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 10px 10px 50px 10px;
  height: 250px;
  box-shadow: 10px 10px 5px #888888;
}

.blocks {
  margin: 0 0 0 10%;
  min-width:70%;
  overflow: hidden;
}

.block-text {
  margin: 50px 10px 10px 20px;
  overflow: hidden;
}

/**************
BUTTON STYLING
**************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid #0099cc;
	color: black;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: black;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

/************************
DEVELOPER PAGE
*************************/

.youtube {
  padding: 5% 0 5% 0;
}

.youtube, .developerPage {
  font-family: 'Ubuntu', sans-serif;
}
