{{outlet}}

<div id="mainJumbo" class="jumbotron">
    <div class="index">
      <div class="hot-container">
        <h1 id="index">Something should really go here.</h1>
        <a class="btn btn-lg btn-info" href="/developer">Developers</a>
        <a class="btn btn-lg btn-warning" href="/employer">Employers</a>
      </div>
  </div>
</div>

<div id="secondJumbo" class="jumbotron">
<div class='welcome'>
  <h1 id= 'welcome'>Practice your technical skills.</h1>
</div>

<div class='blocks'>
  <div class='block1' style="background-color:#D0DBDB; color:black; padding:20px;">
    <div class='block-text'>
      <p>Show off your skills in videos for employers to see</p>
    </div>
  </div>

  <div class='block2' style="background-color:#D0DBDB; color:black; padding:20px;">
    <div class='block-text'>
      <p>Another mini-benefit here to show people</p>
    </div>
  </div>

  <div class='block3' style="background-color:#D0DBDB; color:black; padding:20px;">
    <div class='block-text'>
      <p>ANOTHER THING HERE</p>
    </div>
  </div>
</div>
</div>
