{{outlet}}

<div class="jumbotron">
    <div class="index">
      <div class="hot-container">
        <h1 id="index">Something should really go here.</h1>
        <a class="btn btn-lg btn-info" href="#">Developers</a>
        <a class="btn btn-lg btn-warning" href="#">Employers</a>
      </div>
  </div>
</div>
