{{outlet}}

<div id="mainJumbo" class="jumbotron">
    <div class="index">
      <div class="hot-container">
        <h1 id="index">A place for aspiring developers to practice their technical interview skills</h1>
        <a class="btn btn-lg btn-info" href="/developer">Developers</a>
        <a class="btn btn-lg btn-warning" href="/employer">Employers</a>
      </div>
  </div>
</div>

<div id="secondJumbo" class="jumbotron">
  <div class='welcome'>
    <h1 id= 'welcome'>Practice real-world technical questions so you'll be ready for that dream job</h1>
  </div>
  <div class='blocks'>
    <div class="row">
      <div class='col-md-12 block1' style="background-color:#D0DBDB; color:black; padding:20px;">
        <div class='block-text'>
          <p>Record videos of you solving different questions</p>
        </div>
      </div>

      <div class='col-md-12 block2' style="background-color:#D0DBDB; color:black; padding:20px;">
        <div class='block-text'>
          <p>Receive problems to solve from interested employers</p>
        </div>
      </div>

      <div class='col-md-12 block3' style="background-color:#D0DBDB; color:black; padding:20px;">
        <div class='block-text'>
          <p>Have each solution uploaded to your personal profile</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="thirdJumbo" class="jumbotron">
  <h1>Get Started</h1>
  <a href='/signup'><button type="button" class="btn btn-primary btn-lg outline">Sign Up</button></a>
</div>
